[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
codecov = "*"
pytest-cov = "*"

[packages]
django = "*"
flake8 = "*"
gunicorn = "*"
pytest-django = "*"
python-decouple = "*"
dj-database-url = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
