{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Python Pro</title>

    <meta name="description" content="Python Pro Course Page">
    <meta name="author" content="BarthJr">

    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>

</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">

                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="{% url 'core:home' %}">Home</a>
            </nav>
            <div class="jumbotron">
                <h2>
                    Python Course with Luciano Ramalho
                </h2>
                <h4 class="mt-4">Enrollment open! Limited offer for R$ 1000,00</h4>
                <!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
                <form action="https://pagseguro.uol.com.br/checkout/v2/payment.html" method="post"
                      onsubmit="PagSeguroLightbox(this); return false;">
                    <!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
                    <input type="hidden" name="code" value="41720A719494F1AFF4CC8FB4A5E2F4C7"/>
                    <input type="hidden" name="iot" value="button"/>
                    <input type="image"
                           src="https://stc.pagseguro.uol.com.br/public/img/botoes/pagamentos/209x48-comprar-assina.gif"
                           name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!"/>
                </form>
                <script type="text/javascript"
                        src="https://stc.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.lightbox.js"></script>
                <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
                {#                <h4 class="mt-4">Join the waiting list</h4>#}
                {#                <form action="https://gmail.us20.list-manage.com/subscribe/post?u=73526603b8bb19159fcada6de&amp;id=e71ec0792c"#}
                {#                      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"#}
                {#                      class="form-row align-items-center" target="_blank" novalidate>#}
                {#                    <div class="form-row align-items-center">#}
                {#                        <div class="col-auto">#}
                {#                            <label class="sr-only" for="mce-EMAIL">Email</label>#}
                {#                            <input type="email" value="" name="EMAIL" class="form-control required" id="mce-EMAIL"#}
                {#                                   placeholder="example@email.com">#}
                {#                        </div>#}
                {#                        <div class="col-auto">#}
                {#                            <label class="sr-only" for="mce-FNAME">Email</label>#}
                {#                            <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME" placeholder="Your Name">#}
                {#                        </div>#}
                {##}
                {#                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->#}
                {#                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"#}
                {#                                                                                                  name="b_73526603b8bb19159fcada6de_e71ec0792c"#}
                {#                                                                                                  tabindex="-1"#}
                {#                                                                                                  value=""></div>#}
                {##}
                {#                        <div class="col-auto">#}
                {#                            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"#}
                {#                                   class="btn btn-primary">#}
                {#                        </div>#}
                {#                    </div>#}
                {#                </form>#}

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <h5 class="card-header">
                            More details about the instructor
                        </h5>
                        <div class="card-body">
                            <p class="card-text">
                                <img src="{% static 'img/luciano-ramalho.png' %}" alt="Luciano Ramalho photo"
                                     class="img-thumbnail float-left mr-3">
                                Ramalho is a partner, teacher at Turing Workshops and the author of the <a
                                    href="http://shop.oreilly.com/product/0636920032519.do" target="_blank">Fluent
                                Python</a> book. He has led teams for the portals
                                IDG Now, BOL, UOL, AOL Brasil and others, using Python since 1998. As an instructor, he
                                assisted clients such as Citibank, CPqD, Serpro , Presidency of the Republic, Globo.com
                                and Itaú. Speaker at international events such as FISL, PyCon US and OSCON. He helped
                                create the Python Brazil Association and was its president. He is a member of the Python
                                Software Foundation and the founder of Garoa Hacker Clube, the first hackerspace in
                                Brazil.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="main-footer mt-5 pt-4 text-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h3>Entre em Contato</h3>
                <address>
                    +55 12 997-411-854
                    <br/>
                    <a href="mailto:ramalho@python.pro.br" class="text-light">ramalho@python.pro.br</a>
                </address>
            </div>
        </div>

    </div>
    <div class="rights pb-4">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    {% now 'Y' %} Python Pro. Todos os direitos reservados.
                </div>
            </div>

        </div>
    </div>
</footer>
</body>
</html>